config/local.js
node_modules
.tmp
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
*.iml
.vscode
.node_history
dump.rdb

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid

aws

.env
.env.staging
.env.sandbox
.env.production
.env.test

config/database.json
config/oauth.js
config/env/production.js
config/env/production1.js
config/env/production2.js
config/env/staging.js
config/env/sandbox.js
config/env/testing.js
config/env/benchmark.js
config/env/localTesting.js
common-backend
notes.md

test/coverage
.nyc_output
